{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper">

      <div id="infinite-scroll-pagination" class="infinite-scroll-pagination" data-next-page="{{ paginate.next.url }}">
        Load More
      </div>
   
  </div>
  <script>
  
  </script>
{%- endif -%}